@page
@model GR30323_Web.UI.Areas.Admin.Pages.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<h2>Администрирование</h2>

<ul>
    <li><a href="/Admin/Car/Index">Управление автомобилями</a></li>
    <li><a href="/Admin/Category/Index">Управление категориями</a></li>
</ul>
